* {
	box-sizing: border-box;
}

html {
    background: white;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	padding: 0;
}

body, html {
	overflow-x: hidden;

}

a {
	text-decoration: none;
}

ul { 
	list-style: none;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.container {
	width: 90%;
	max-width: 1240px;
	margin: auto;
	display: grid;
    padding: 50px;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}
.card {
	background: white;
	text-decoration: none;
	color: #444;
	box-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	top: 0;
	transition: all 0.1s ease-in; 
}

.card:hover {
	top: -2;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card .thumb {
	padding-bottom: 60%;
	background-size: cover;
	background-position: center;
}

.card article {
	padding: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card h1 {
	font-size: 20px;
	margin:0;
	color: #333;
}

.card span {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 2em 0 0 0;
}

.card p {
    flex: 1;
    line-height: 1.4;
}

.ctn {
	padding: 8px 15px;
	background: #F806CC;
	border-radius: 30px;
	color: whitesmoke;
}

.card .ctn {
	margin-top: 20px;
}

.footer {
	width: 100%;
	min-height: 100px;
	padding: 20px 80px;
	margin: 0;
	background: #484872;
	text-align: center;
}

.footer p {
	color: whitesmoke;
	margin: 20px auto;
	padding: 20px auto;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .footer {
		padding: 10px;
	}
}

@media (min-width: 30em) {
	.container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 60em) {
	.container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 60em) {
    .artikel-1 {
        grid-column: 1/span 2;
    }

    .artikel-1 h1 {
        font-size: 24px;
    }
}

